* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
}
body {
    /*line-height: 1.15;*/
    /* overflow: hidden; */
    position: relative;
    font:normal 12px/22px 宋体;

}
.container{
    width:95%;
    float:right;
    margin: 0;
    padding: 0;
}
.leftbox{
    width:5%;
    height: 100%;
    float:left;
    position: fixed;
    top:0;
    left:0;
    z-index: 99999;
}

header {
    position: relative;
    height: 1.25rem;
    background-size: 100% 100%;
    background: url(../img/head_bg.png) no-repeat;
}
header h1 {
    font-size: 0.475rem;
    color: #fff;
    text-align: center;
    line-height: 1rem;
  }
.mainbox {
    display: flex;
    min-width: 1080;
    max-width: 1920;
    margin: 0 auto;
    padding: 0.0125rem 0.0125rem 0;
}
.mainbox .column1 {
    flex: 7;
}
.mainbox .column2 {
    flex: 2;
}
.map {
    height: 13.5rem;
    position: relative;
}
.map .map1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    /*overflow: hidden;*/
}
.anchor{

}
.mainbox .weather {
    position: relative;
    height: 4.5rem;
    padding: 0 0.1875rem 0.5rem;
}
.mainbox .slider {
    position: relative;
    height: 8.0rem;
    
}
.slideTxtBox{ 
    width:100%;
    border:1px solid #ddd; 
    text-align:left;

    
    top: 0;
}
.slideTxtBox .hd{ 
    height:30px; 
    line-height:30px; 
    background:#f4f4f4; 
       
    border-bottom:1px solid #ddd;  
    position:relative;
    font-size: 10px;
}
.slideTxtBox .hd ul{ 
    float:left;
    position:absolute; 
    left:50px;
    top:-1px; 
    height:32px;   
}
.slideTxtBox .hd ul li{ 
    float:left; 
    padding:0 30px;
    cursor:pointer;  
}
.slideTxtBox .hd ul li.on{ 
    height:30px;  
    background:#fff; 
    border:1px solid #ddd; 
    border-bottom:2px solid #fff; 
}
.slideTxtBox .bd ul{ 
    padding:15px;  
    zoom:1;  
}
.slideTxtBox .bd ul li{ 
    text-align:center; 
}
.slideTxtBox .bd li{ 
    height:24px; 
    line-height:24px;   
}

.txtMarquee-top{ 
    width:100%;  
    height:100%;
    overflow:hidden; 
    position:relative;  
    border:1px solid #ccc;   
}
.txtMarquee-top .infoList1 li{ 
    height:12px;
    line-height:12px;
    font-size:18px;
}
.txtMarquee-top .infoList2 li{ 
    height:12px;
    line-height:12px;
}
.txtMarquee-top .infoList3 li{ 
    height:12px;
    line-height:12px;
}
.txtMarquee-top li span{ 
    font-size:18px;
}