{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>云边协同监控系统</title>
<link href="{% static 'css/new_ui/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/new_ui/materialdesignicons.min.css' %}" rel="stylesheet">
<link href="{% static 'css/new_ui/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_ui/new_loading.css' %}" rel="stylesheet">
</head>
  
<body data-theme="default" data-sidebarbg="color_8" data-headerbg="default" data-logobg="color_8">
<div class="lyear-layout-web">
  <div class="lyear-layout-container">

      <!--左侧导航-->
      {% include 'Nav.html' %}
      <!--End 左侧导航-->

      <!--头部信息-->
      <header class="lyear-layout-header">

          <nav class="navbar navbar-default">
              <div class="topbar">

                  <div class="topbar-left">
                      <div class="lyear-aside-toggler">
                          <span class="lyear-toggler-bar"></span>
                          <span class="lyear-toggler-bar"></span>
                          <span class="lyear-toggler-bar"></span>
                      </div>
                      <span class="navbar-page-title"> 北航节点 </span>
                  </div>

              </div>
          </nav>

      </header>
      <!--End 头部信息-->


    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">

        <div class="row">

            <div class="col-md-8">
                <div class="map">
                    <div class="chart">
                        <iframe id="resource-topo" class="col-sm-10" src="/map_test/"
                                style="height: 700px;width:100%; border: none"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header"><h4>节点资源监控</h4></div>
                    <div class="card-body">
                        <canvas id="cpu-pie" width="150" height="170" style="display: inline-flex"></canvas>
                        <canvas id="mem-pie" width="150" height="150" style="display: inline-flex"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card">

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>任务名</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for task in tasks %}
                                    <tr>
                                        <td>{{ task }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-default" href="#!"  title="启动任务" data-toggle="modal" data-target="#exampleModal{{ task }}"><i class="mdi mdi-skip-next-circle-outline"></i></a>

                                                <div class="modal fade" id="exampleModal{{ task }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="exampleModalLabel">启动容器</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form enctype="multipart/form-data" id="startForm{{ task }}" method="post" action="/start_task/" >
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <label for="id" class="control-label">任务名:</label>
                                                                        <input type="text" class="form-control" id="name" name="name" placeholder="name" value="{{ task }}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="input" class="control-label">输入数据(若有):</label>
                                                                        <textarea class="form-control" id="input" name="input" placeholder="Input"></textarea>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <p class="m-t-10">是否返回数据</p>
                                                                        <div class="example-box">
                                                                            <label class="lyear-radio radio-inline radio-primary">
                                                                                <input type="radio" value="yes" name="res"><span>是</span>
                                                                            </label>
                                                                            <label class="lyear-radio radio-inline radio-primary">
                                                                                <input type="radio" value="no" checked="true" name="res"><span>否</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                                <button type="submit" class="btn btn-primary" data-loading-text="处理中..." onclick="add('确定启动任务吗？','startForm{{ task }}')">确定</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>

            </div>







        </div>
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>
<div class="loading" id="loading">
    <figure class="loading pic">
        <div class="loading dot white"></div>
        <div class="loading dot"></div>
        <div class="loading dot"></div>
        <div class="loading dot"></div>
        <div class="loading dot"></div>
    </figure>
</div>
<script type="text/javascript" src="{% static 'js/new_ui/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/new_ui/bootstrap.min.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/new_ui/perfect-scrollbar.min.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/new_ui/main.min.js' %}"></script>#}

<!--图表插件-->
<script type="text/javascript" src="{% static 'js/new_ui/Chart.js' %}"></script>
<script type="text/javascript">
    jQuery('.loading').hide();
    // 创建一个div
    var layer=document.createElement("div");
    // 设置div的id值
    layer.id="layer";
    // 上面按钮点击事件
    function tip(data){
        /* 创建div的样式，宽200px,高80px，下面的是css样式居中，
         * css样式居中具体了解链接：https://blog.csdn.net/A_Bear/article/details/80546181
         */
        var style={
            background:"white",
            border: "1px solid #ccc",
            'font-size': "20px" ,
            position:"absolute",
            clear: "left",
            zIndex:100001,
            width:"200px",
            height:"80px",
            left:"50%",
            top:"50%",
            marginLeft:"-100px",
            marginTop:"-40px",
            opacity: 0.65,
            'font-family': 'tahoma, helvetica, "microsoft yahei", "宋体",arial',
        }
        for(var i in style)
            layer.style[i]=style[i];

        // 当找不到id为layer的控件时
        if(document.getElementById("layer")==null){
            // 在body中添加layer控件（layer在上面创建的）
            document.body.appendChild(layer);
            // 设置显示类容
            layer.innerHTML=data;
            // 将div中文本居中
            layer.style.textAlign="center";
            layer.style.lineHeight="80px"; // 作用是调节字体行高与div同高，使其保持水平居中
            // 设置3s后去掉弹出窗
            setTimeout("document.body.removeChild(layer)",3000)
        }
    }
    function add(mess,formid){
        if(confirm(mess)){
            jQuery('.loading').show();
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                {#dataType: "json",//预期服务器返回的数据类型#}
                url: "/start_task/" ,//url
                data: $('#'+formid).serialize(),
                success: function (result) {
                    jQuery('.loading').hide();
                    console.log(result)
                    tip(result);
                },
                error : function() {
                    jQuery('.loading').hide();
                    tip("出现异常");
                }
            });
        }
    }
    Chart.pluginService.register({
        beforeDraw: function(chart) {
            if (chart.config.options.elements.center) {
                // Get ctx from string
                var ctx = chart.chart.ctx;

                // Get options from the center object in options
                var centerConfig = chart.config.options.elements.center;
                var fontStyle = centerConfig.fontStyle || 'Arial';
                var txt = centerConfig.text;
                var color = centerConfig.color || '#000';
                var maxFontSize = centerConfig.maxFontSize || 75;
                var sidePadding = centerConfig.sidePadding || 20;
                var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
                // Start with a base font of 30px
                ctx.font = "30px " + fontStyle;

                // Get the width of the string and also the width of the element minus 10 to give it 5px side padding
                var stringWidth = ctx.measureText(txt).width;
                var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

                // Find out how much the font can grow in width.
                var widthRatio = elementWidth / stringWidth;
                var newFontSize = Math.floor(30 * widthRatio);
                var elementHeight = (chart.innerRadius * 2);

                // Pick a new font size so it will not be larger than the height of label.
                var fontSizeToUse = Math.min(newFontSize, elementHeight, maxFontSize);
                var minFontSize = centerConfig.minFontSize;
                var lineHeight = centerConfig.lineHeight || 25;
                var wrapText = false;

                if (minFontSize === undefined) {
                    minFontSize = 20;
                }

                if (minFontSize && fontSizeToUse < minFontSize) {
                    fontSizeToUse = minFontSize;
                    wrapText = true;
                }

                // Set font settings to draw it correctly.
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
                var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
                ctx.font = fontSizeToUse + "px " + fontStyle;
                ctx.fillStyle = color;

                if (!wrapText) {
                    ctx.fillText(txt, centerX, centerY);
                    return;
                }

                var words = txt.split(' ');
                var line = '';
                var lines = [];

                // Break words up into multiple lines if necessary
                for (var n = 0; n < words.length; n++) {
                    var testLine = line + words[n] + ' ';
                    var metrics = ctx.measureText(testLine);
                    var testWidth = metrics.width;
                    if (testWidth > elementWidth && n > 0) {
                        lines.push(line);
                        line = words[n] + ' ';
                    } else {
                        line = testLine;
                    }
                }

                // Move the center up depending on line height and number of lines
                centerY -= (lines.length / 2) * lineHeight;

                for (var n = 0; n < lines.length; n++) {
                    ctx.fillText(lines[n], centerX, centerY);
                    centerY += lineHeight;
                }
                //Draw text in center
                ctx.fillText(line, centerX, centerY);
            }
        }
    });


    var $cpu = jQuery( '#cpu-pie' );
    var $mem = jQuery( '#mem-pie' );

    var $cpuData = {
        labels: ["使用率", "等待率", "空闲率"],
        datasets: [{
            data: [0, 0, 100],
            backgroundColor: ['rgba(255,99,132,1)', 'rgba(255, 206, 86, 1)','rgba(54, 162, 235, 1)']
        }]
    };

    var cpuChart = new Chart($cpu, {
        type: 'doughnut',
        data: $cpuData,
        options: {
            responsive: false,
            elements: {
                center: {
                    text: 'CPU监控',
                    color: '#000000', // Default is #000000
                    fontStyle: 'Arial', // Default is Arial
                    sidePadding: 5, // Default is 20 (as a percentage)
                    minFontSize: 8, // Default is 20 (in px), set to false and text will not wrap.
                    lineHeight: 8 // Default is 25 (in px), used for when text wraps
                }
            }
        },
    });

    var $memData = {
        labels: ["使用率","空闲率"],
        datasets: [{
            data: [0,100],
            backgroundColor: ['rgba(255,99,132,1)','rgba(54, 162, 235, 1)']
        }]
    };

    var memChart = new Chart($mem, {
        type: 'doughnut',
        data: $memData,
        options: {
            responsive: false,
            elements: {
                center: {
                    text: '内存监控',
                    color: '#000000', // Default is #000000
                    fontStyle: 'Arial', // Default is Arial
                    sidePadding: 5, // Default is 20 (as a percentage)
                    minFontSize: 8, // Default is 20 (in px), set to false and text will not wrap.
                    lineHeight: 8 // Default is 25 (in px), used for when text wraps
                }
            }
        }
    });



    function getSysInfo(){
        $.ajax({
            url: '/javaNode_sysInfo',
            type: 'get',
            dataType: 'json',
            success: function (data) {

                cpuChart.data.datasets[0].data = [data["cpuUsed"],data["cpuWait"],data["cpuFree"]];
                cpuChart.update();
                memChart.data.datasets[0].data = [data["memUsage"],100-data["memUsage"]];
                memChart.update();


            }
        })
    }
    setInterval(getSysInfo,10000);
</script>
</body>
</html>