{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据感知采集与融合处理系统</title>
    <link rel="stylesheet" href="{% static 'css/home_.css' %}">
    <link rel="stylesheet" href="{% static 'css/jDialog.css' %}">
</head>
<body style="font-size: 16px;">
    <!-- 左边栏 -->
    <div class="leftbox">
        {% include 'sidenav.html' %}
    </div>
    <!-- 主容器 -->
    <div class="container">
        <!-- 上面头部 -->
        <header>
            <h1>态势感知数据采集及融合系统-崇礼赛区</h1>

        </header>
        <!-- 下面主体 -->
        <section class="mainbox">
            <!-- 分两列 -->
            <div class="column1">
                <!-- 主体图 -->
                <div class="map">
                    <div class="map1" id="map1">

                    </div>
                    <div class="anchor">

                    </div>
                </div>
            </div>
            <div class="column2">
                <div class="weather">
                    <!-- 天气图表 -->
                    <div id="weather-v2-plugin-standard"></div>
                </div>
                <div class="navbar">
                    {% include 'home_navbar.html' %}

                </div>
                <div class="slider">
                <div class="slideTxtBox">
                    <div class="hd">
                        <ul><li>事件信息</li><li>赛事信息</li></ul>
                    </div>
                    
                    <div class="bd">
                    <div class="txtMarquee-top1">
                        <ul class="infoList1" id="p1" >

                        </ul>
                    </div>

                    <div class="txtMarquee-top2">
                        <ul class="infoList3" id="p2">

                        </ul>
                    </div>

                </div>
                </div>

            </div>
        </div>
        </section>
    </div>



    <!-- script部分 -->
    <script src="{% static 'js/flexible.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.SuperSlide.2.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.drag.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dialog.js' %}"></script>





    <script type="text/javascript">
        $(".txtMarquee-top1").slide({mainCell:".infoList1",autoPlay:true,effect:"topMarquee",vis:20,interTime:50});
        $(".txtMarquee-top2").slide({mainCell:".infoList2",autoPlay:true,effect:"topMarquee",vis:20,interTime:50});
        {#$(".txtMarquee-top3").slide({mainCell:".infoList3",autoPlay:true,effect:"topMarquee",vis:20,interTime:50});#}
        {#jQuery(".txtMarquee-top4").slide({mainCell:".infoList3",autoPlay:true,effect:"topMarquee",vis:20,interTime:50});#}
        $(".slideTxtBox").slide({ effect:"left" ,autoPlay:true, interTime:10000});
    </script>

<script>
    WIDGET = {
      CONFIG: {
        "layout": 2,
        "width": "300",
        "height": "270",
        "background": 1,
        "dataColor": "FFFFFF",
        "borderRadius": 5,
        "city": "CN101090314",
        "key": "H1kQFiLkmC"
      }
    }
    </script>
    <script src="https://apip.weatherdt.com/standard/static/js/weather-standard-common.js?v=2.0"></script>


    <script>
    //假设每隔5秒发送一次请求
    window.onload = function () {

        loadSVGInline();
        //getApi();


    };
    function loadSVGInline()
{
    var SVGFile="{% static 'img/bdmap_zjk.svg' %}";
    var loadXML = new XMLHttpRequest;
    function handler(){

        var svgDiv = document.getElementById("map1");
        if(loadXML.readyState == 4 && loadXML.status == 200)
        {
            svgDiv.innerHTML=loadXML.responseText;


        }
    }
    if (loadXML != null){
        loadXML.open("GET", SVGFile, true);
        loadXML.onreadystatechange = handler;
        loadXML.send();

    }
}
    function getApi() {
        //设置时间 300-秒  1000-毫秒  这里设置你自己想要的时间
        setTimeout(getApi,300*1000);


        $.ajax({
            url: 'road_info/',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                //方法中传入的参数data为后台获取的数据
    {#            var road_list = ['松山大桥',#}
    {#    '西羊坊隧道',#}
    {#    '京银路',#}
    {#    '康张路',#}
    {#    '京礼高速',#}
    {#    '百康路',#}
    {#    '西丁路',#}
    {#    '百泉街',#}
    {#    '湖南西路',#}
    {#    '妫水南街',#}
    {#    '京藏高速',#}
    {#    '京新高速',#}
    {#    '京承高速',#}
    {#    '万泉河路',#}
    {#    '莲花池西路',#}
    {#    '莲花池东路',#}
    {#    '大兴机场高速',#}
    {#    '崇文门东大街',#}
    {##}
    {#];#}
                var road_list = [
                    '团结路',
                    '京银路',
                    '康张路',
                    '西顺城街',
                    '京原路',
                    '京平高速',
                    '京藏高速',
                    '京新高速',
                    '京承高速',
                    '京礼高速',
                ];
                road_info = data['road'];
                events = data['event'];
                games = data['game'];
                for(var i=0;i<road_list.length;i++){
                    document.getElementById(road_list[i]).style="fill:#00b050;";
                }

                var dialogs = document.getElementsByClassName("j-dialog");
                for(var i=0;i<dialogs.length;i++){
                    console.log(dialogs);
                    dialogs[i--].remove();
                }

                var list1 = document.getElementById("p1");
                var list2 = document.getElementById("p2");
                var attr1 = '';
                var attr2 = '';
                for(var i = 0;i<road_info.length;i++){
                    var road_name = road_info[i]['road_name'];
                    var speed = parseFloat(road_info[i]['speed']);
                    if (speed>=30){

                        document.getElementById(road_name).style="fill:#ffff00;";

                    }
                    else {
                        document.getElementById(road_name).style="fill:#ff0000;";

                    }

                    var str = road_info[i]['text'];
                    var pre = '';

                    var target = $('#' + road_name);

                    console.log(target.offset());
                    html = "<div>" + str + "</div>";
                    offset = {
                        top: -target.offset().top+100,
                        left: target.offset().left-500,
                        right: 0,
                        bottom: 0
                    };

                    dialog = jDialog.tip(html, {
                        target: $('.anchor'),
                        position: 'top',
                        trianglePosFromStart: 100,
                        padding: '10px 5px',
                        autoClose: 1,
                        offset: offset
                    });


                    while(str.length>8){
                        pre = str.substr(0,8);
                        str = str.substring(8);
                        let text = '<li><span style="white-space:normal;font-size:18px;">' + pre + '</li></span>';
                        attr1 += text;
                        if(str.length<=8){
                           attr1 +=  '<li><span style="white-space:normal;font-size:18px;">' + str + '</li></span>';
                        }

                    }
                    attr1 += '<li><span>*****************</li></span>';
                }

                for(var i = 0;i<events.length;i++){

                    var str = events[i]['content'];
                    var pre = '';


                    while(str.length>8){
                        pre = str.substr(0,8);
                        str = str.substring(8);
                        let text = '<li><span style="white-space:normal;font-size:18px;">' + pre + '</li></span>';
                        attr1 += text;
                        if(str.length<=8){
                           attr1 +=  '<li><span style="white-space:normal;font-size:18px;">' + str + '</li></span>';
                        }



                    }
                    attr1 += '<li><span>*****************</li></span>';
                }

                for(var i = 0;i<games.length;i++){

                    var str = games[i]['content'];
                    var pre = '';
                    while(str.length>8){
                        pre = str.substr(0,8);
                        str = str.substring(8);
                        let text = '<li><span style="white-space:normal;font-size:18px;">' + pre + '</li></span>';
                        attr2 += text;
                        if(str.length<=8){
                           attr2 +=  '<li><span style="white-space:normal;font-size:18px;">' + str + '</li></span>';
                        }



                    }
                    attr2 += '<li><span>*****************</li></span>';
                }




                list1.innerHTML = attr1;
                list2.innerHTML = attr2;
                $(".txtMarquee-top1").slide({mainCell:".infoList1",autoPlay:true,effect:"topMarquee",vis:20,interTime:50});
                $(".txtMarquee-top2").slide({mainCell:".infoList2",autoPlay:true,effect:"topMarquee",vis:20,interTime:50});
                {#$(".txtMarquee-top3").slide({mainCell:".infoList3",autoPlay:true,effect:"topMarquee",vis:20,interTime:50});#}
                {#jQuery(".txtMarquee-top4").slide({mainCell:".infoList4",autoPlay:true,effect:"topMarquee",vis:20,interTime:50});#}
                $(".slideTxtBox").slide({ effect:"left" ,autoPlay:true, interTime:10000});
                }})
    }



    </script>

</body>
</html>