{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>自适应导航栏</title>
		<link rel="stylesheet" href="{% static 'css/home_navbar_bj.css' %}" />
	</head>
	<body>
    <div class="home_navbar">
    <header>
        <h1>比赛区域</h1>
    </header>
		<div class="navbar-right">
			<ul>
				<li><a href="/">延庆</a></li>
				<li><a href="/home_wks/">五棵松</a></li>
                <li><a href="/home_st/">首体</a></li>
                <li><a href="javascript:;">奥体</a></li>
			</ul>
		</div>
        </div>
	</body>
</html>
