{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>冬奥会数据感知采集与融合处理系统</title>
    <link rel="stylesheet" href="{% static 'css/monitor.css' %}">

</head>
<body>
<!-- 最左侧的盒子 -->
<div class="leftbox">
{% include 'sidenav.html' %}

    </div>
    <div class="container">
    <!-- 头部的盒子 -->
    <header>
        <h1>云-边协同数据采集及融合监控子系统</h1>
        <div class="showTime"></div>
    </header>

    <!-- 页面主题部分 -->
    <section class="mainbox">
        <!-- 分三份column  -->

        <div class="column">
            <!-- 表外框 -->
            <div class="queue">
                <h2>任务调度区</h2>
                    <div class="inner" id="roll" onmouseover="BBScrollAmount=0" onmouseout="BBScrollAmount=1">

                    </div>
                <div class="queue-footer"></div>
            </div>
            
        </div>
        <!-- 中间模块 -->
        <div class="column">
            <div class="no">

                <!-- map模块 -->
                <div class="map">
                    <div class="map1"></div>
                    <div class="map2"></div>
                    <div class="map3"></div>
                    <div class="chart">
                        <iframe id="resource-topo" class="col-sm-10" src="/resource_topo/"
                        style="height: 100%;width:100%; border: none"></iframe>
                    </div>
                </div>
            </div>


        </div>
        <div class="column">
            <!-- 表外框 -->
            <div class="panel bar">
                <h2>计算资源监控</h2>
                    <div class="chart" id="bar2">

                    </div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel line">
                <h2>数据资源监控/MBps</h2>
                    <div class="chart" id="network">

                    </div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel list" id="sevout">

                <h2>计算服务</h2>
                <div id="sev">
                    <div class="col">
                        <ul>
                            <div class="taskcan"><li><a href="">启动事件驱动</a></li></div>
                            <div class="taskcan"><li><a href="">路况数据采集</a></li></div>
                            <div class="taskcan"><li><a href="">事件采集</a></li></div>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <div class="taskcan"><li><a href="javascript:passenger_flow();">客流数据采集</a></li></div>
                            <div class="taskcan"><li><a href="">数据上传</a></li></div>
                            <div class="taskcan"><li><a href="">数据融合</a></li></div>
                        </ul>

                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </section>
    </div>
    <!-- script部分 -->
    <script src="{% static 'js/flexible.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>

    <!-- 时间js -->
    <script>
        var t = null;
        t = setTimeout(time, 1000);//開始运行
        function time() {
            clearTimeout(t);//清除定时器
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours();//获取时
            var m = dt.getMinutes();//获取分
            var s = dt.getSeconds();//获取秒
            document.querySelector(".showTime").innerHTML = '当前时间：' + y + "年" + mt + "月" + day + "日-" + h + "时" + m + "分" + s + "秒";
            t = setTimeout(time, 1000); //设定定时器，循环运行
        }
</script>
<script>


  function creatTag(tag,objAttr){
        var ns = "http://www.w3.org/2000/svg";
        var oTag = document.createElementNS(ns,tag);
        for(var attr in objAttr){
            oTag.setAttribute(attr,objAttr[attr]);
        }
        return oTag;
    }
    function svgInit(){
        var parent = document.getElementById('roll');
        var ns = "http://www.w3.org/2000/svg";


        //创建svg标签
        var oSvg = creatTag('svg',{'xmlns':ns,'width':'100%','height':'100%'});
        //创建箭头
        var defs = creatTag('defs',{});
        var marker = creatTag('marker',{'id':'arrow','markerUnits':'strokeWidth','markerWidth':'12','markerHeight':'12','viewBox':'0 0 12 12','refX':'6','refY':'6','orient':'auto'});
        var arrow = creatTag('path',{'d':'M4,4 L9,6 L4,8 L6,6 L2,2','style':'fill: #000000;'});

        var gradient = creatTag('linearGradient',{'id':'skyGradient','x1':'100%','y1':'100%'});
        var stop1 = creatTag('stop',{'offset':'0%','stop-color':'lightblue','stop-opacity':'0.5'});
        var animate1 = creatTag('animate',{'attributeName':'stop-color','values':'lightblue;blue;red;red;black;red;red;purple;lightblue','dur':'12s','repeatCount':'indefinite'});
        var stop2 = creatTag('stop',{'offset':'100%','stop-color':'lightblue','stop-opacity':'0.5'});
        var animate2 = creatTag('animate',{'attributeName':'stop-color','values':'lightblue;orange;purple;purple;black;purple;purple;blue;lightblue','dur':'12s','repeatCount':'indefinite'});
        var animate3 = creatTag('animate',{'attributeName':'offset','values':'.95;.80;.60;.40;.20;0;.20;.40;.60;.80;.95','dur':'12s','repeatCount':'indefinite'});


        parent.appendChild(oSvg);
        oSvg.appendChild(defs);
        defs.appendChild(marker);
        marker.appendChild(arrow);

        defs.appendChild(gradient);
        gradient.appendChild(stop1);
        stop1.appendChild(animate1);
        gradient.appendChild(stop2);
        stop2.appendChild(animate2);
        stop2.appendChild(animate3);

        return oSvg;

    }
    function creatRect(loc_num,type,text,now){
        var ns = "http://www.w3.org/2000/svg";
        var oTag = document.createElementNS(ns,'rect');
        var rect_size = {
            'start':{
                'rx':'25',
                'ry':'25',
                'width':'140',
                'height':'50',
                'fill':'#ccc',
                'opacity':'0.9',
                'stroke':'#303030',
                'stroke-width':'2px'

            },
            'mid':{
                'rx':'10',
                'ry':'10',
                'width':'140',
                'height':'50',
                'fill':now===1?'url(#skyGradient)': '#ccc',
                'opacity':'0.9',
                'stroke':'#303030',
                'stroke-width':'2px'
            }
        };
        var rect_loc = {
            1:{'x':'10','y':'20'},
            2:{'x':'10','y':'130'},
            3:{'x':'10','y':'240'},
            4:{'x':'10','y':'350'},
            5:{'x':'10','y':'460'}
        };
        var style = rect_size[type];
        var loc = rect_loc[loc_num];
        for(var attr in loc){
            oTag.setAttribute(attr,loc[attr]);
        }
        for(var attr in style){
            oTag.setAttribute(attr,style[attr]);
        }
        let g = creatTag('g',{});
        let text_tag = creatTag('text',{'x':parseInt(loc.x)+70,'y':parseInt(loc.y)+28,'style':'dominant-baseline:middle;text-anchor:middle;','font-size':'18'});
        text_tag.innerHTML = text;
        g.appendChild(oTag);
        g.appendChild(text_tag);
        return g;
    }
    function creatLine(loc_num){
        var ns = "http://www.w3.org/2000/svg";
        var oTag = document.createElementNS(ns,'line');
        var line_style = {
            'stroke':'#000',
            'stroke-width':'3px',
            'marker-end':'url(#arrow)'
        };
        var line_loc = {
            1:{'x1':'80','y1':'70','x2':'80','y2':'122'},
            2:{'x1':'80','y1':'180','x2':'80','y2':'232'},
            3:{'x1':'80','y1':'290','x2':'80','y2':'342'},
            4:{'x1':'80','y1':'400','x2':'80','y2':'452'}
        };
        var style = line_style;
        var loc = line_loc[loc_num];
        for(var attr in loc){
            oTag.setAttribute(attr,loc[attr]);
        }
        for(var attr in style){
            oTag.setAttribute(attr,style[attr]);
        }
        let g = creatTag('g',{});
        g.appendChild(oTag);
        return g;
    }
</script>
<script>
    var resource_data = [25,35,45];
    var resource_chart = echarts.init(document.querySelector("#bar2"));
var passId;
function passenger_flow(){
    $.ajax({
            url: '/passenger_flow/',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                document.getElementById('roll').innerHTML='';
                var oSvg = svgInit();
                var rect1 = creatRect(1 ,'start','客流数据采集',parseInt(data['task'][0]));
                var rect2 = creatRect(2 ,'mid','数据采集',parseInt(data['task'][1]));
                var rect3 = creatRect(3 ,'mid','数据解析',parseInt(data['task'][2]));
                var rect4 = creatRect(4 ,'mid','数据格式化',parseInt(data['task'][3]));
                var rect5 = creatRect(5 ,'mid','数据融合',parseInt(data['task'][4]));

                var line1 = creatLine(1);
                var line2 = creatLine(2);
                var line3 = creatLine(3);
                var line4 = creatLine(4);

                oSvg.appendChild(rect1);
                oSvg.appendChild(line1);
                oSvg.appendChild(line2);
                oSvg.appendChild(line3);
                oSvg.appendChild(line4);
                oSvg.appendChild(rect2);
                oSvg.appendChild(rect3);
                oSvg.appendChild(rect4);
                oSvg.appendChild(rect5);

                resource_data = data['resource'];
                resource_chart.setOption({
                    series:[{
                        data: resource_data
                    }]
                });

                if(data['label']===0){

                    document.getElementById('roll').innerHTML='';
                    clearInterval(passId);
                }else if(data['label']===1){
                    passId = setInterval(passenger_flow,10000);
                }

            }
})
}

function resource_monitor(){
    $.ajax({
            url: '/query_resource/',
            type: 'get',
            dataType: 'json',
            success: function (data) {

                resource_data = data['resource'];
                resource_chart.setOption({
                    series:[{
                        data: resource_data
                    }]
                });

            }
})
}
setInterval(resource_monitor,10000);

(function () {
    set_resource_bar(resource_data);
    })();
function set_resource_bar(data){

    var myColor = ["#8B78F6","#F8B448","#3B58F4"]
    var option = {
    grid: {
        left: '22%',
        bottom: '10%',
        top: '10%',
        // containLabel: true
    },
    xAxis: {
        show: false,
    },
    yAxis: [
        {
        inverse: true,
        axisLine: {
            show: false,
        },
        axisTick: {
            show: false,

        },
        axisLabel: {
            color: "#000",
        },
        type: 'category',
        data: ['主节点', '北航节点', '长峰节点']
    },
    {
        inverse: true,
        show: false,
        type: 'category',
        data: ['', '', '']
    }
        ],
    series: [
        {
            name: '内',
            type: 'bar',
            data: data,
            yAxisIndex: 0,
            itemStyle: {
                normal: {
                    barBorderRadius: 20,
                    //颜色设置
                    color: function(params) {
                        var num = myColor.length;
                        return myColor[params.dataIndex % num];
                    }
                }
            },
            barCategoryGap: 50,
            barWidth: 23,
            //显示柱子内的文字
            label: {
                show: true,
                position: "inside",
                formatter: "{c}%",

            },
        },
        {
            name: '外',
            type: 'bar',
            data: [100,100,100],
            barCategoryGap: 50,
            barWidth: 25,
            yAxisIndex: 1,
            itemStyle: {
                color: "none",
                borderColor: "#00c1de",
                borderWidth: 3,
                barBorderRadius: 15,
            }

        },
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        resource_chart.setOption(option);
        window.addEventListener('resize',function(){
            resource_chart.resize();
        });
}
</script>

<script>
    // 折线图 优秀作品
(function() {
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.querySelector("#network"));

  option = {
    tooltip: {
      trigger: "axis",
      axisPointer: {
        lineStyle: {
          color: "#dddc6b"
        }
      }
    },
    legend: {
      top: "0%",
      textStyle: {
        color: "rgba(0,0,0,.5)",
        fontSize: "12"
      }
    },
    grid: {
      left: "10",
      top: "30",
      right: "10",
      bottom: "10",
      containLabel: true
    },

    xAxis: [
      {
        type: "category",
        boundaryGap: false,
        axisLabel: {
          textStyle: {
            color: "rgba(0,0,0,.6)",
            fontSize: 12
          }
        },
        axisLine: {
          lineStyle: {
            color: "rgba(0,0,0,.2)"
          }
        },

        data: [
            "00",
          "01",
          "02",
          "03",
          "04",
          "05",
          "06",
          "07",
          "08",
          "09",
          "11",
          "12",
          "13",
          "14",
          "15",
          "16",
          "17",
          "18",
          "19",
          "20",
          "21",
          "22",
          "23",
          "24",
        ]
      },
      {
        axisPointer: { show: false },
        axisLine: { show: false },
        position: "bottom",
        offset: 20
      }
    ],

    yAxis: [
      {
        type: "value",
        axisTick: { show: false },
        axisLine: {
          lineStyle: {
            color: "rgba(0,0,0,.1)"
          }
        },
        axisLabel: {
          textStyle: {
            color: "rgba(0,0,0,.6)",
            fontSize: 12
          }
        },

        splitLine: {
          lineStyle: {
            color: "rgba(255,255,255,.1)"
          }
        }
      }
    ],
    series: [
      {
        name: "北航节点",
        type: "line",
        smooth: true,
        symbol: "circle",
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
          normal: {
            color: "#0184d5",
            width: 2
          }
        },
        areaStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(
              0,
              0,
              0,
              1,
              [
                {
                  offset: 0,
                  color: "rgba(1, 132, 213, 0.4)"
                },
                {
                  offset: 0.8,
                  color: "rgba(1, 132, 213, 0.1)"
                }
              ],
              false
            ),
            shadowColor: "rgba(0, 0, 0, 0.1)"
          }
        },
        itemStyle: {
          normal: {
            color: "#0184d5",
            borderColor: "rgba(221, 220, 107, .1)",
            borderWidth: 12
          }
        },
        data: [
            10,
          30,
          40,
          30,
          40,
          30,
          40,
          30,
          60,
          20,
          40,
          20,
          40,
          30,
          40,
          30,
          40,
          30,
          40,
          30,
          60,
          20,
          40,
          20,
          40
        ]
      },
      {
        name: "长峰节点",
        type: "line",
        smooth: true,
        symbol: "circle",
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
          normal: {
            color: "#00d887",
            width: 2
          }
        },
        areaStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(
              0,
              0,
              0,
              1,
              [
                {
                  offset: 0,
                  color: "rgba(0, 216, 135, 0.4)"
                },
                {
                  offset: 0.8,
                  color: "rgba(0, 216, 135, 0.1)"
                }
              ],
              false
            ),
            shadowColor: "rgba(0, 0, 0, 0.1)"
          }
        },
        itemStyle: {
          normal: {
            color: "#00d887",
            borderColor: "rgba(221, 220, 107, .1)",
            borderWidth: 12
          }
        },
        data: [
          50,
          30,
          50,
          60,
          10,
          50,
          30,
          50,
          60,
          40,
          60,
          40,
          80,
          30,
          50,
          60,
          10,
          50,
          30,
          70,
          20,
          50,
          10,
          40,
          50

        ]
      }
    ]
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
  window.addEventListener("resize", function() {
    myChart.resize();
  });
})();

</script>

</body>
</html>