


    <!--左侧导航-->
    <aside class="lyear-layout-sidebar" id="copy-nav">

      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <h1 align="center" style="line-height:70px ; color:white ; font-size:20px">云边协同监控系统</h1>
      </div>
      <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item"> <a href="/cloud" ><i class="mdi mdi-sitemap"></i> 节点监控</a> </li>
            <li class="nav-item"> <a href="/new_home" ><i class="mdi mdi-format-align-justify"></i> 态势感知</a> </li>
          </ul>
        </nav>

      </div>

    </aside>
    <!--End 左侧导航-->






