{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>自适应导航栏</title>
        <link href="{% static 'css/new_ui/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/new_ui/materialdesignicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/new_ui/style.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/home_navbar.css' %}"/>
    </head>
    <body>
    <div class="home_navbar">
        <header>
            <h1>比赛区域</h1>
        </header>
        <div class="btn-group btn-group-justified">
            <button style="width:50px;min-height:38px;padding:0px;" class="btn btn-default"><a
                    style="font-size:8px;color:DarkSlateGray" href="/new_home">延庆</a></button>
            <button style="width:50px;min-height:38px;padding:0px;" class="btn btn-default"><a
                    style="font-size: 8px;color:DarkSlateGray" href="/new_home_st">首体</a></button>
            <button style="width:50px;min-height:38px;padding:0px;" class="btn btn-default"><a
                    style="font-size: 8px;color:DarkSlateGray" href="/new_home_at">奥体</a></button>
            <button style="width:50px;min-height:38px;padding:0px;" class="btn btn-default"><a
                    style="font-size: 8px;color:DarkSlateGray" href="/new_home_wks">五棵松</a></button>
            <button style="width:50px;min-height:38px;padding:0px;" class="btn btn-default"><a
                    style="font-size: 8px;color:DarkSlateGray" href="/new_home_sg">首钢</a></button>
            <button style="width:50px;min-height:38px;padding:0px;" class="btn btn-default"><a
                    style="font-size: 8px;color:DarkSlateGray" href="/new_home_zjk">崇礼</a></button>
        </div>
    </div>
    </body>
</html>


