{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>数据平台</title>
		<!-- 这个是提前引入的字体图标 -->
		<link rel="stylesheet" href={% static 'css/font-awesome.css'%} />
		<link rel="stylesheet" href={% static 'css/sidenav.css'%} />
	</head>
	<body>
		<div class="navbar">
			<input type="checkbox" id="checkbox" />
			<!-- 复选框的id属性值和label元素的for属性值必须是相同的,才能够通过点击label选中复选框 -->
			<label for="checkbox">
				<i class="fa fa-bars"></i>
			</label>
			<ul>
				<li>
					<img src={% static 'img/1.jpg' %} alt="" />
					<span>欢迎您!</span>
				</li>
				<li id="icon1">
					<a href="/">
						<i class="fa fa-home"></i>
						<span>态势感知</span>
					</a>
				</li>
                <li id="icon1">
                    <a href="/mode_analysis">
                        <i class="fa fa-user"></i>
                        <span>集散模式分析</span>
                    </a>
                </li>
                <li id="icon1">
                    <a href="/mode_predict">
                        <i class="fa fa-user"></i>
                        <span>集散模式预测</span>
                    </a>
                </li>
{#				<li>#}
{#					<a href="javascript:void(0)">#}
{#						<i class="fa fa-taxi"></i>#}
{#						<span>列表4</span>#}
{#					</a>#}
{#				</li>#}
                <li id="resource_button">
					<a href="/cloud">
						<i class="fa fa-sitemap"></i>
						<span>计算节点资源</span>
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>
